tox
tox-gh-actions
playwright
requests
types-requests
whitenoise
asv
# NOTE: pin virtualenv to <20.31 until asv fixes integration
# See https://github.com/airspeed-velocity/asv/issues/1484
virtualenv==20.35.3
pytest-asyncio
pytest-django
typing-extensions>=4.12.2
pathspec