markdown-exec
mike
mkdocs
mkdocs-autorefs
mkdocs-awesome-nav
mkdocs-gen-files
mkdocs-git-authors-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-include-markdown-plugin
mkdocs-macros-plugin
mkdocs-material
mkdocs-material[imaging]
mkdocs-minify-plugin
mkdocs-redirects
mkdocstrings
mkdocstrings-python
pymdown-extensions
pygments
pygments-djc
django>=4.2
djc-core-html-parser>=1.0
