django
djc-core-html-parser
django-template-partials
tox
pytest
pytest-asyncio
pytest-django
syrupy
ruff
pre-commit
mypy
playwright
requests
types-requests
whitenoise
pydantic
pygments
pygments-djc
asv
# NOTE: pin virtualenv to <20.31 until asv fixes integration
# See https://github.com/airspeed-velocity/asv/issues/1484
virtualenv==20.35.3
typing-extensions>=4.12.2
pathspec